


<h3>Please log in to view your events.<h3>
      <%= form_tag @sessions do %>
      <label>Email</label>
      <%= text_field_tag :email %><br>

      <label >Password</label>
      <%= password_field_tag :password %> <br>

      <% if flash[:errors] %>
      <p style="color: red;"><%= flash[:errors] %></p>
      <%end%>

      <%= submit_tag "Login" %> 
      <%end%>      
    
<h4>If you don't have an account:  <%= link_to "Sign up", signup_path %></h4>

    
 