

<h1>You are about to register for an event. Please verify all information below: </h1>

<% if @errors %>
    <% @errors.each do |error| %> 
        <%= error %> 
        <% end %>
        <% end %> 
        <br>
        <br>


    <%= form_for @registration do |f| %>
        <%= f.label :event %>
        <%= f.collection_select :event_id, Event.all, :id, :name %>
        <%= f.submit "Register" %>
        <%end %>

        <!-- LINES REMOVED - REPLACED W/ @CURRENT_USER
        < f.label :user %>
        < f.collection_select :user_id, User.all, :id, :name%>  
        -->