

<h1>Please select the event you wish to register to down below.</h1>


<% if flash[:errors] %>
<% flash[:errors].each do |x|%>
        <%= x %> 
        <% end %>
        <% end %> 
        <br>

    <%= form_for @registration do |f| %>
        <%= f.label :event %>
        <%= f.collection_select :event_id, Event.all, :id, :name, prompt: true %>
        <%= f.submit "Register" %>
        <%end %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- LINES REMOVED - REPLACED W/ @CURRENT_USER
        < f.label :user %>
        < f.collection_select :user_id, User.all, :id, :name%>  
        -->
     
