<h1>You are about to register for an event. Please verify all information below: </h1>

    <%= form_for @registration do |f| %>
        <%= f.label :user %>
        <%= f.collection_select :user_id, User.all, :id, :name%>
        <%= f.label :event %>
        <%= f.collection_select :event_id, Event.all, :id, :name %>
        <%= f.submit "Register" %>
        <%end %>