<h1>You are about to register for an event. Please verify all information below: </h1>

    <%= form_for @registration do |f| %>s
        <%= f.label :user_id %>
        <%= f.number_field :user_id %>
        <%= f.label :event_id %>
        <%= f.number_field :event_id %>
        <%= f.submit %>
        <%end %>