
<h1> <%= @event.name %></h1>


<h2> Date: <%= @event.date.strftime("%A, %B %d, %Y") %></h2>
<h2>Location: <%= link_to @event.location.city, location_path(@event.location) %></h2>

<div class="event-description">
<p><h2>Event Details: <%= @event.description %></h2></p>
<img class="event-pic" src="<%= @event.img_url %>" alt="<% @event.name %>" >
</div>

<form  method="get" action="/registrations/new" >
 <input value="Register" type="submit" />
</form> 

<h2>Attendees:</h2>
<ol><% @registrations.each do |reg| %>

<li><h3><%= reg.user.name %></h3></li>
<% end%></ol>
<h3> Event created by: <%= @event.user.name%>
<img class="avatar" src="<%= @event.user.img_url %>" alt="<% @event.user %>"  > </h3>
<br>
<br>
<br>
<br>
<br>
<br>





