<h2> All Events that match your interest: </h2>
<% @interest.events.each do |event| %>
   <div>
    <p> Event:  <%= link_to event.name, event_path(event) %> </p> <br>
    <p> Where: <%=event.location.city %> </p>
    <img src="<%= event.img_url %>" alt="<% event.name %>" style= "width:100px; height:100px; border:10;">
     <p> When: <%= event.date %>
     <p> Descriprion: <%= event.description %>
     <p> Created by: <%= event.user.name %>
     <img src="<%= event.user.img_url %>" alt="<% event.user %>" style= "width:60px; height:60px;" > 
     </div>
     
     <br>
     <% end %>
     