<h1><%= @location.city %> </h1>

<% @location.events.each do |event| %>
   <div>
    <p> Event Name:  <%= link_to event.name, event_path(event) %> </p> <br>
    <img src="<%= event.img_url %>" alt="<% event.name %>" style= "width:100px; height:100px; border:10;">
     <p> When: <%= event.date %>
     <p> Description: <%= event.description %>
     <p> Created by: <%= event.user.name %>
     </div>
     
     <br>
     <% end %>
     