<!DOCTYPE html>
<html>
  <head>
    <title>So'Mate</title>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
  <div class="background"> </div>
  <ul  class="navigation"> 


      
      <li class="nav-bar"> <a href="/interests" > Look up by interest </a></li>
      <li class="nav-bar"> <a href="/locations" > All  locations </a></li>
      <li class="nav-bar"> <a href="/events" > Events </a></li> 
      <li class="nav-bar"> <a href="/events/new"> Create an Event</a> </li>

      <% if @current_user %>
      <li class="nav-bar"> <a href= "/users/@current_user.id"> My Events </a></li>
      <li class="nav-bar"> <a href="logout"> Log out</a></li>
      <li  id="welcome"> Welcome <%= @current_user.name %>!</li>

      <% else %>
      <li class="nav-bar"><%= link_to 'Sign up', new_user_path %></li>
      <li class="nav-bar"><%= link_to 'Login', new_session_path %></li>
      
      <% end %>









  </ul>
  <br>
  <br>
  
  
    <%= yield %>
  </body>
</html>
