<!DOCTYPE html>
<html>
  <head>
    <title>NewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
  <div class="background"> </div>
  <ul  class="navigation"> 
      <li class="nav-bar"> <a href="/login" > LogIn </a> </li>
      <li class="nav-bar"> <a href="/interests" > Look up by interest </a></li>
      <li class="nav-bar"> <a href="/locations" > All  locations </a></li>
      <li class="nav-bar"> <a href="/events" > Events </a></li> 
      <li class="nav-bar"> <a href="/events/new"> Create an Event</a> </li>
      <li class="nav-bar"> <a href="/users/11" > User page </a></li>
  </ul>
  <br>
  <br>
  
  
    <%= yield %>
  </body>
</html>
